<!DOCTYPE html>
<html lang="en">
    <head>
        <title>LOGIN</title>
        <link rel="stylesheet" href="style2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<!-- Materialize JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    </head>
    <style>
        .form{
            width: 90%;
            justify-content: center;
            align-items: center;
            justify-self: center;
        }
        .left{
            max-width: 50%;
            padding: 20px;
        }
        .abc{
            display: flex;
            flex-direction: row;
            justify-content: center;
        }
    </style>
    <body>
        <link rel="stylesheet" href="styles.css">
        <header>
            <div class="abc">
                
                <nav>
                    <a href="#">LOGO</a>
                    <ul>
                        <li>
                            <a href="#">Home</a>
                        </li>
                        <li>
                            <a href="#">about</a>
                        </li>
                        <li>
                            <a href="#">contact</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <main>
            <div class="ccc">
                <div class="abc">
                    <div class="left">
                        <h1><i>WELCOME TO OUR WEBSITE</i></h1>
                        <p><i>A job listing tracker is a tool that helps job seekers keep track of
                             available job openings by collecting and organizing them from various
                              sources, like online job boards and company websites.</i></p>
                              <button class="btn">Login</button>
                    </div>
                    <div class="right">
                        <h3><b>Enter your details to log in !!!</b></h2>
                        <form action="/login/" method="post" class="form">
                            <div class="input">
                                <input type="text" name="username" id="name" required/>
                                <label for="name">Name</label> 
                            </div>
                            <br>
                            <div class="input">
                                <input type="email" name="email" id="email" required/>
                                <label for="email">Email</label> 
                            </div>
                            <br>
                            <div class="input">
                                <input type="password" name="password" id="password" required/>
                                <label for="password">Password</label> 
                            </div>
                            <br>
                            <input type="submit" class="btn" value="submit">
                            <br>
                            <br>
                            <h5>
                                Don't have an account?
                                <a href="http://127.0.0.1:8000/signup/">signup</a>

                            </h5>
                        </form>
                    </div>
                </div>
            </div>
        </main>
    </body>
</html>